.site-nav {
        display: block;
        padding-top: 12rem;
        padding-bottom: 1rem;
        overflow-y: auto;
        flex: 1 1 auto;
        background-repeat: no-repeat;
        background-position-y: 0px;
        background-position-x: center;
        background-image: url(https://nprint.github.io/benchmarks/logo.png);
        background-size: 6rem;
}

.site-title {
 url(https://nprint.github.io);
}
